<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<br>
<br>
    <table align="center">
        <tr>
            <td>Email:</td>
            <td><input type = "text" name="email" placeholder="Email"></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="password" placeholder="Password"></td>
        </tr>
        <tr align="center">
            <td></td>
            <td><input type="submit" value="Login"></td>
        </tr>
        <tr align="center">
            <td></td>
            <td><input type="submit" value="Sign Up"></td>
        </tr>
    </table>
</body>
</html>